body {
    font-family: 'Quicksand', sans-serif;
    background: #F4F7FD;
    background: url(https://github.com/images/modules/site/heroes/simple-codelines.svg),#2b3137;
    background-size: 100% auto;
}

.login .container {
    max-width: 1024px!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.card.border-danger {
  border-width: 1px 1px 1px 4px;
  border-color: rgba(0,0,0,.125)!important;
  border-left-color: var(--danger)!important;
}

.card.border-success {
  border-width: 1px 1px 1px 4px;
  border-color: rgba(0,0,0,.125)!important;
  border-left-color: var(--success)!important;
}

.card.border-primary {
  border-width: 1px 1px 1px 4px;
  border-color: rgba(0,0,0,.125)!important;
  border-left-color: var(--primary)!important;
}

.blankslate {
  padding: 6em 0;
  text-align: center;
}

@media (min-width: 3440px) {
  .container {
    max-width: 1640px;
  }
}
